
body{

  background-image: url("../imagen/ahrde75.jpg");
 font-family: 'Lobster', cursive;
  color: #e30e20;
  font-weight: bold!important;
  background-repeat:no-repeat;
  background-color:#111

}

.marge{
  margin-top: 13px;
}

h5, ul li{
 color: grey!important;
 font-family: 'Questrial', sans-serif;
 }

h1 {
    font-size: 6.8rem !important;
  }

 h3, h6, p{
       font-size: 2.25rem !important;
 } 


#diamond1, #diamond2, #diamond3, #diamond4 {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
    transition: opacity .35s ease;
}

img {
    display: block;
    height: 130px;  
    width: 100px;
}

a img {
    width: 6%;
    height: 4%;
    display: block;
    float: left;
}

.heart-red{
  height: 155px;
    width: 190px;
}

button{
  text-decoration: none !important;
  color: white!important;
}


@media screen and (max-width:  768px) {
    h5, ul li{
 color: grey!important;
 }

h1 {
    font-size: 4.5rem !important;
  }

 h3, h6, p{
       font-size: 1.25rem !important;
 }
 .marge{
  margin-top: 5px;
}
}

@media screen and (max-width: 640px){
    h5, ul li{
 color: grey!important;
 }

h1 {
    font-size: 4.5rem !important;
  }

 h3, h6, p{
       font-size: 1.25rem !important;
 }
 .marge{
  margin-top: 5px;
}
}
