
body{

  background-image: url("../imagen/ahrde75.jpg");
 font-family: 'Lobster', cursive;
  color: #e30e20;
  font-weight: bold!important;
  background-repeat:no-repeat;
  background-color:#111;
  background-attachment:fixed;
  background-size:cover;
}

.marge{
  margin-top: 10px;
}

h5, ul li{
 color: grey!important;
 font-family: 'Questrial', sans-serif;
 }

h1 {
    font-size: 107px !important;
  }

 h3, h6, p{
       font-size: 35px !important;
 } 

 .text-heart:hover{
    color: crimson;
 }


#diamond1, #diamond2, #diamond3, #diamond4 {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
    transition: opacity .35s ease;
}

img {
    display: block;
    height: 130px;  
    width: 100px;
}

a p{
      font-size: 15px !important;
      color: #e30e20;
      font-family: 'Questrial', sans-serif;
}

a:visited {
    color: #e30e20;
}

a:hover{
  text-decoration: none;
}



button{
  text-decoration: none !important;
  color: white!important;
}

hr{
      background: #e30e20;
    height: 3px;
}


/*@media screen and (min-width:  768px) {
   
  h1 {
    font-size: 172px !important;
  }

 h3, h6, p{
       font-size: 68px !important;
 }
 .marge{
  margin-top: 25px;
}
}*/

/*@media screen and (min-width: 640px){
  

h1 {
    font-size: 172px !important;
  }

 h3, h6, p{
       font-size: 68px !important;
 }
 .marge{
  margin-top: 25px;
}
}
*/